In [1]:
# Import pandas
import pandas as pd

# 1. Load the dataset into a pandas DataFrame
df = pd.read_csv("sales_dataset.csv")

print("First five records of the dataset:")
print(df.head())

# 2. Create a new column Total_Revenue
df["Total_Revenue"] = df["Quantity"] * df["Price"]

# 3. Find total revenue generated for each product
print("\nTotal Revenue for each Product:")
print(df.groupby("Product")["Total_Revenue"].sum())

# 4. Find total units sold for each category
print("\nTotal Quantity Sold for each Category:")
print(df.groupby("Category")["Quantity"].sum())

# 5. Calculate the average price per unit for each category
print("\nAverage Price per Unit for each Category:")
print(df.groupby("Category")["Price"].mean())

# 6. Find the product with maximum units sold
max_units_product = df.loc[df["Quantity"].idxmax(), "Product"]
print("\nProduct with Maximum Units Sold:")
print(max_units_product)

# 7. Group the data by Month and calculate total revenue for each month
print("\nTotal Revenue for each Month:")
print(df.groupby("Month")["Total_Revenue"].sum())

# 8. Filter and display products where Quantity is greater than 40
print("\nProducts with Quantity greater than 40:")
print(df[df["Quantity"] > 40])

# 9. Sort the dataset by Total_Revenue in descending order
print("\nDataset sorted by Total Revenue (Descending):")
print(df.sort_values(by="Total_Revenue", ascending=False))

First five records of the dataset:
   Order_ID   Product     Category  Quantity  Price     Month
0      1001  Notebook   Stationery        50    120   January
1      1002    Laptop  Electronics         2  45000   January
2      1003   Pen Set   Stationery       100    250   January
3      1004     Mouse  Accessories        15    350  February
4      1005  Keyboard  Accessories        12    800  February

Total Revenue for each Product:
Product
Calculator      14000
File Folder     18000
Headphones      24000
Keyboard         9600
Laptop          90000
Marker Set      14400
Monitor         72000
Mouse            5250
Notebook         6000
Pen Set         25000
Printer         25500
Scanner         32500
Tablet         100000
USB Drive       14000
Webcam          20000
Name: Total_Revenue, dtype: int64

Total Quantity Sold for each Category:
Category
Accessories     90
Electronics     20
Stationery     390
Name: Quantity, dtype: int64

Average Price per Unit for each Category:
Category
Accessories     1050.0
Electronics    19400.0
Stationery       210.0
Name: Price, dtype: float64

Product with Maximum Units Sold:
File Folder

Total Revenue for each Month:
Month
April       224000
February     54750
January     121000
March        70500
Name: Total_Revenue, dtype: int64

Products with Quantity greater than 40:
    Order_ID      Product    Category  Quantity  Price     Month  \
0       1001     Notebook  Stationery        50    120   January
2       1003      Pen Set  Stationery       100    250   January
6       1007   Marker Set  Stationery        80    180  February
13      1014  File Folder  Stationery       120    150     April

    Total_Revenue
0            6000
2           25000
6           14400
13          18000

Dataset sorted by Total Revenue (Descending):
    Order_ID      Product     Category  Quantity  Price     Month  \
12      1013       Tablet  Electronics         4  25000     April
1       1002       Laptop  Electronics         2  45000   January
14      1015      Monitor  Electronics         6  12000     April
9       1010      Scanner  Electronics         5   6500     March
5       1006      Printer  Electronics         3   8500  February
2       1003      Pen Set   Stationery       100    250   January
7       1008   Headphones  Accessories        20   1200     March
11      1012       Webcam  Accessories         8   2500     April
13      1014  File Folder   Stationery       120    150     April
6       1007   Marker Set   Stationery        80    180  February
8       1009    USB Drive  Accessories        35    400     March
10      1011   Calculator   Stationery        40    350     April
4       1005     Keyboard  Accessories        12    800  February
0       1001     Notebook   Stationery        50    120   January
3       1004        Mouse  Accessories        15    350  February

    Total_Revenue
12         100000
1           90000
14          72000
9           32500
5           25500
2           25000
7           24000
11          20000
13          18000
6           14400
8           14000
10          14000
4            9600
0            6000
3            5250